html, body{
    margin: 0;
    background-position: center;
    background-image: url(bez06.jpg);
}

#baslık-kısım{
    background-color:brown;
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    height: 75px;
    flex-wrap: wrap;
}


#Logo{
    margin-left: 20px;
}

#Baslik{
    margin-left: 440px;
    margin-right: 440px;
    margin-bottom: 10px;

}


#tabloici{
    background-color:darkgray;
    margin-top: 0px;
    list-style: none;
    display: flex;
    width: 1311px;
    justify-content: space-around;
    
 }
 .none{
    text-decoration: none;
    color:black;
 }

#tablo li{
    display: inline;
    margin: 10px;

}

#arkaplan{
    height: 400px;
    background-image:url(3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
#baslik2{
    display: flex;
    font-size: 28px;
    justify-content: center;
    margin-top: 50px;
}
#phak{
    margin-left: 150px;
    margin-right: 150px;
    column-count: 2;
    font-size: 20px;
    line-height: 28px;
    color: #f2f2f2;
}
#ikinci{
    margin-top: 50px;
}

#basliki{
    display: flex;
    justify-content: center;
}
#kayana{
    height: 400px;
    background-image: url(1234.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed ;
    background-position: center;
}

table{
    width: 80%;			
    border-collapse: collapse;
    margin: auto;
    margin-top: 50px;
}

#urunler th{
    background-color: #2196F3;
    color: white;
}

table th{

    text-align: left;			
}

table td,table th{
    border: 1px solid #ddd;
    padding: 6px;
}

table tr:nth-child(even){
    background-color: #f2f2f2;
}
table tr:nth-child(odd){
    background-color: grey;
}

table tr:hover{
    background-color: #ddd;
}

.menü{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 15px;
}
.resim{
    height: 320px;
    width: 320px;
}

.yemektab{
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 700;
    color: black;
}
#konum{
    display: flex;
    margin-top: 50px;
}
#adres{
    font-size: 20px;
    width: 400px;
    line-height: 5px;
 
}
h3{
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.git{
    margin-top: 50px;
    justify-content: center;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    line-height: 5px;
    flex-wrap: wrap;
}

#iletişim{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
}
